<% layout('layout') %>
<% script('javascripts/vendor/d3/d3.min.js') %>
<% script('javascripts/vendor/nvd3/nv.d3.min.js') %>
<% stylesheet("javascripts/vendor/nvd3/nv.d3.min.css") %>
<% script('/javascripts/graph.js') %>
<div id="graph">
  <svg height="400px"></svg>
</div>