<% layout('layout') %>
<script type="text/javascript" src="/javascripts/vendor/flot/jquery.flot.js"></script>
<script type="text/javascript" src='/javascripts/graph.js'></script>
<div id="graph" style="width:600px;height:300px"></div>